Repository dimfeld/svelte-maplibre: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

.lintstagedrc:

{
  "*.svelte": "prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write",
  "*.js": "prettier --write",
  "*.ts": "prettier --write"
}

switch events to svelte 5 style
  src/lib/CircleLayer.svelte
  src/lib/ControlButton.svelte
  src/lib/DeckGlLayer.svelte
  src/lib/DefaultMarker.svelte
  src/lib/FillExtrusionLayer.svelte
  src/lib/FillLayer.svelte
  src/lib/HeatmapLayer.svelte
  src/lib/HillshadeLayer.svelte
  src/lib/Layer.svelte
  src/lib/LineLayer.svelte
  src/lib/MapEvents.svelte
  src/lib/MapLibre.svelte
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/lib/Popup.svelte
  src/lib/RasterLayer.svelte
  src/lib/SymbolLayer.svelte
  src/lib/types.ts
  src/routes/examples/clusters/+page.svelte
  src/routes/examples/controls/+page.svelte
  src/routes/examples/custom_marker/+page.svelte
  src/routes/examples/custom_marker_clusters/+page.svelte
  src/routes/examples/deckgl-arcs/+page.svelte
  src/routes/examples/draggable_custom_marker/+page.svelte
  src/routes/examples/image_symbols/+page.svelte
  src/routes/examples/marker_on_click/+page.svelte
  src/routes/examples/overlapping_layer_events/+page.svelte
  src/routes/examples/popup_remote/+page.svelte
  src/routes/examples/zoom_transition/+page.svelte
  src/routes/tests/change_center_zoom/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

change nulls to undefined and improve type safety
  package.json
  src/lib/AttributionControl.svelte
  src/lib/DeckGlLayer.svelte
  src/lib/DefaultMarker.svelte
  src/lib/FullscreenControl.svelte
  src/lib/GeoJSON.svelte
  src/lib/GeolocateControl.svelte
  src/lib/ImageSource.svelte
  src/lib/Layer.svelte
  src/lib/MapLibre.svelte
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/lib/NavigationControl.svelte
  src/lib/Popup.svelte
  src/lib/RasterDEMTileSource.svelte
  src/lib/RasterTileSource.svelte
  src/lib/ScaleControl.svelte
  src/lib/Terrain.svelte
  src/lib/TerrainControl.svelte
  src/lib/VectorTileSource.svelte
  src/lib/context.ts
  src/lib/flush.ts
  src/lib/source.ts
  src/routes/examples/clusters/+page.svelte
  src/routes/examples/custom_marker_clusters/+page.svelte
  src/routes/examples/deckgl-arcs/+page.svelte
  src/routes/examples/image_symbols/+page.svelte
  src/routes/tests/replace_source/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

update lockfile
  pnpm-lock.yaml
Due: none

add types for snippet arguments
  src/lib/MapLibre.svelte
  src/lib/MarkerLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

WIP update map context to use runes
  src/lib/context.svelte.ts
  src/lib/context.ts
Due: prettier --write

update export map
  package.json
Due: none

1 more fix
  src/lib/context.svelte.ts
Due: prettier --write

Make Popup data a generic
  src/lib/Popup.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Fix remaining type errors in DeckGlLayer and example
  src/lib/DeckGlLayer.svelte
  src/lib/context.svelte.ts
  src/routes/examples/deckgl-arcs/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

placekitten is gone so switch to placedog
  src/routes/examples/popup_remote/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Make it possible to destructure `MapContext` and still use `eventTopMost`
  src/lib/context.svelte.ts
Due: prettier --write

Update ClusterPopup for new context method
  src/routes/examples/ClusterPopup.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

WIP adding more feature generics
  src/lib/CircleLayer.svelte
  src/lib/FillExtrusionLayer.svelte
  src/lib/FillLayer.svelte
  src/lib/HeatmapLayer.svelte
  src/lib/HillshadeLayer.svelte
  src/lib/Layer.svelte
  src/lib/LineLayer.svelte
  src/lib/MarkerLayer.svelte
  src/lib/RasterLayer.svelte
  src/lib/SymbolLayer.svelte
  src/lib/context.svelte.ts
  src/lib/types.ts
  src/routes/examples/ClusterPopup.svelte
  src/routes/examples/cluster_feature_properties.ts
  src/routes/examples/clusters/+page.svelte
  src/routes/examples/custom_marker/+page.svelte
  src/routes/examples/custom_marker_clusters/+page.svelte
  src/routes/examples/geojson_polygon/+page.svelte
  src/routes/examples/image_symbols/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

disable "double click on zoom" when showing popup on double click
  src/routes/examples/overlapping_layer_events/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Use separate import for Snippet type instead of inline, easier to read
  src/lib/Control.svelte
  src/lib/ControlButton.svelte
  src/lib/ControlGroup.svelte
  src/lib/DeckGlLayer.svelte
  src/lib/DefaultMarker.svelte
  src/lib/GeoJSON.svelte
  src/lib/ImageSource.svelte
  src/lib/MapLibre.svelte
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/lib/Popup.svelte
  src/lib/RasterDEMTileSource.svelte
  src/lib/RasterTileSource.svelte
  src/lib/VectorTileSource.svelte
  src/lib/ZoomRange.svelte
  src/lib/types.ts
  src/routes/+layout.svelte
  src/routes/examples/+layout.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Refactor generics and type definitions; remove redundant styles.
  src/lib/DefaultMarker.svelte
  src/lib/Layer.svelte
  src/lib/RasterTileSource.svelte
  src/lib/VectorTileSource.svelte
  src/lib/types.ts
  src/routes/examples/clusters/+page.svelte
  src/routes/examples/custom_marker_clusters/+page.svelte
  src/routes/examples/heatmap/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

svelte-check passes
  package.json
  pnpm-lock.yaml
  src/lib/MarkerLayer.svelte
  src/lib/filters.ts
  src/routes/+layout.svelte
  src/routes/LogoAndMenu.svelte
  src/routes/examples/clusters/+page.svelte
  src/routes/tests/marker-class-update/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

changesets
  .changeset/forty-frogs-hammer.md
  .changeset/green-camels-hammer.md
  .changeset/honest-shrimps-tie.md
  .changeset/nice-waves-bake.md
  .changeset/ten-trees-shop.md
  .changeset/weak-oranges-bathe.md
Due: none

Update to deck.gl v9
  .changeset/chilly-days-enjoy.md
  package.json
  pnpm-lock.yaml
  src/lib/DeckGlLayer.svelte
  src/lib/Popup.svelte
  src/lib/context.svelte.ts
  src/routes/examples/deckgl-arcs/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Update repository to https url
  package.json
Due: none

type fixes
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/lib/types.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

generic feature type for Marker
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/lib/types.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

simpler syntax
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

remove unused import
  src/lib/source.ts
Due: prettier --write

Rename mapContext to getMapContext
  src/lib/AttributionControl.svelte
  src/lib/Control.svelte
  src/lib/DeckGlLayer.svelte
  src/lib/DefaultMarker.svelte
  src/lib/FullscreenControl.svelte
  src/lib/GeoJSON.svelte
  src/lib/GeolocateControl.svelte
  src/lib/ImageSource.svelte
  src/lib/JoinedData.svelte
  src/lib/Layer.svelte
  src/lib/MapEvents.svelte
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/lib/NavigationControl.svelte
  src/lib/Popup.svelte
  src/lib/RasterDEMTileSource.svelte
  src/lib/RasterTileSource.svelte
  src/lib/ScaleControl.svelte
  src/lib/Terrain.svelte
  src/lib/TerrainControl.svelte
  src/lib/VectorTileSource.svelte
  src/lib/ZoomRange.svelte
  src/lib/context.svelte.ts
  src/lib/index.ts
  src/routes/examples/ClusterPopup.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

remove some unnecessary `undefined`
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

wrap mapContext in a $derived
  src/lib/AttributionControl.svelte
  src/lib/Control.svelte
  src/lib/DeckGlLayer.svelte
  src/lib/DefaultMarker.svelte
  src/lib/FullscreenControl.svelte
  src/lib/GeoJSON.svelte
  src/lib/GeolocateControl.svelte
  src/lib/ImageSource.svelte
  src/lib/JoinedData.svelte
  src/lib/Layer.svelte
  src/lib/MapEvents.svelte
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/lib/NavigationControl.svelte
  src/lib/Popup.svelte
  src/lib/RasterDEMTileSource.svelte
  src/lib/RasterTileSource.svelte
  src/lib/ScaleControl.svelte
  src/lib/Terrain.svelte
  src/lib/TerrainControl.svelte
  src/lib/VectorTileSource.svelte
  src/lib/ZoomRange.svelte
  src/routes/examples/ClusterPopup.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Use `loaded` passed from the map context instead of `map.loaded()`
  src/lib/AttributionControl.svelte
  src/lib/FullscreenControl.svelte
  src/lib/GeolocateControl.svelte
  src/lib/LegacyDeckGlLayer.svelte
  src/lib/MapLibre.svelte
  src/lib/MarkerLayer.svelte
  src/lib/NavigationControl.svelte
  src/lib/Popup.svelte
  src/lib/ScaleControl.svelte
  src/lib/Terrain.svelte
  src/lib/TerrainControl.svelte
  src/lib/ZoomRange.svelte
  src/lib/context.svelte.ts
  src/lib/index.ts
  src/routes/examples/deckgl-arcs/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

undo rename which was just a test of LLM-based rename
  src/lib/DeckGlLayer.svelte
  src/lib/index.ts
  src/routes/examples/deckgl-arcs/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

v1.0.0-next.1
  .changeset/chilly-days-enjoy.md
  .changeset/forty-frogs-hammer.md
  .changeset/green-camels-hammer.md
  .changeset/honest-shrimps-tie.md
  .changeset/nice-waves-bake.md
  .changeset/ten-trees-shop.md
  .changeset/weak-oranges-bathe.md
  CHANGELOG.md
  package.json
Due: none

Update `husky` command for new version
  package.json
Due: none

Show test comment on the page
  src/routes/tests/marker-z-index/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Fix deckgl layer teardown
  src/lib/DeckGlLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Fix infinite effect loop in JoinedData.svelte
  src/lib/JoinedData.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

remove unneeded reactivity force from svelte 4
  src/lib/RasterTileSource.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Show entire file in code samples
  src/routes/examples/basic/+page.svelte
  src/routes/examples/deckgl-arcs/+page.svelte
  src/routes/examples/geojson_polygon/+page.svelte
  src/routes/examples/marker_on_click/+page.svelte
  src/routes/examples/overlapping_layer_events/+page.svelte
  src/routes/examples/popup_remote/+page.svelte
  src/site/CodeSample.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v1.0.0-next.2
  package.json
Due: none

Fix effect loop in Terrain.svelte
  src/lib/Terrain.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Clean up unused props in example files
  src/routes/examples/3d_terrain/+page.svelte
  src/routes/examples/cooperative_gestures/+page.svelte
  src/routes/tests/map-style-update/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write
