Repository dimfeld/svelte-maplibre: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

.lintstagedrc:

{
  "*.svelte": "prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write",
  "*.js": "prettier --write",
  "*.ts": "prettier --write"
}

v0.8.4
  .changeset/fresh-melons-grab.md
  CHANGELOG.md
  package.json
Due: none

Expose antialias option
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Add changeset
  .changeset/empty-hornets-hang.md
Due: none

Expose antialias option (#153)
  .changeset/empty-hornets-hang.md
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v0.8.5
  .changeset/empty-hornets-hang.md
  CHANGELOG.md
  package.json
Due: none

improve TypeScript typings for DefaultMarker
  .changeset/clean-lamps-juggle.md
  src/lib/DefaultMarker.svelte
  src/lib/Marker.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Marker
  src/lib/Marker.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Stop propagation of clicks on Markers
  .changeset/thirty-rivers-cover.md
  src/lib/Marker.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

improve TypeScript typings for DefaultMarker (#156)
  .changeset/clean-lamps-juggle.md
  src/lib/DefaultMarker.svelte
  src/lib/Marker.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Export the map div as a prop
  .changeset/afraid-teachers-repair.md
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Stop propagation of clicks on Markers (#157)
  .changeset/thirty-rivers-cover.md
  src/lib/Marker.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Export the map div as a prop (#159)
  .changeset/afraid-teachers-repair.md
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Export marker prop from Marker and DefaultMarker
  .changeset/swift-wombats-dream.md
  src/lib/DefaultMarker.svelte
  src/lib/Marker.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Export marker prop from Marker and DefaultMarker (#160)
  .changeset/swift-wombats-dream.md
  src/lib/DefaultMarker.svelte
  src/lib/Marker.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v0.9.0
  .changeset/afraid-teachers-repair.md
  .changeset/clean-lamps-juggle.md
  .changeset/swift-wombats-dream.md
  .changeset/thirty-rivers-cover.md
  CHANGELOG.md
  package.json
Due: none

Add Svelte 5 to peerDependencies
  .changeset/brown-dolphins-heal.md
  package.json
Due: none

v0.9.1
  .changeset/brown-dolphins-heal.md
  CHANGELOG.md
  package.json
Due: none

Add MapEvents component
  .changeset/weak-spoons-fetch.md
  src/lib/MapEvents.svelte
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

export MapEvents
  src/lib/index.ts
Due: prettier --write

Add '3D Terrain' page to Tests
  package-lock.json
  src/routes/NavBar.svelte
  src/routes/tests/terrain/+page.svelte
  src/routes/tests/terrain/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Add TerrainControl to existing controls such as NavigationControl and FullscreenControl
  src/lib/TerrainControl.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Add Terrain component, fixing the issue with terrain (3D) not being active on loa
  src/lib/Terrain.svelte
  src/routes/tests/terrain/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Remove blank from onDestroy; not sure what to do with "onDestroy" here because MapLibre does not have "removeTerrain", only a setter and getter
  src/lib/Terrain.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

add example
  src/routes/NavBar.svelte
  src/routes/examples/marker_on_click/+page.svelte
  src/routes/examples/marker_on_click/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Add MapEvents component (#161)
  .changeset/weak-spoons-fetch.md
  src/lib/MapEvents.svelte
  src/lib/MapLibre.svelte
  src/lib/index.ts
  src/routes/NavBar.svelte
  src/routes/examples/marker_on_click/+page.svelte
  src/routes/examples/marker_on_click/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

v0.9.2
  .changeset/weak-spoons-fetch.md
  CHANGELOG.md
  package.json
Due: none

Set map terrain to null on destroy
  src/lib/Terrain.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Add to Examples a 3D Terrain page which closely mirrors the MapLibre demo of 3D Terrain; add modifiable elements to that page for hillshade and terrain settings
  src/routes/NavBar.svelte
  src/routes/examples/3d_terrain/+page.svelte
  src/routes/examples/3d_terrain/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Remove from Tests the 3D Terrain page
  src/routes/NavBar.svelte
  src/routes/tests/terrain/+page.svelte
  src/routes/tests/terrain/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Add attribution for map and terrain data
  src/routes/examples/3d_terrain/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Move controls to top-right to reflect MapLibre 3D Terrain demo
  src/routes/examples/3d_terrain/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Add changeset
  .changeset/funny-maps-sit.md
Due: none

Remove package-lock.json
  package-lock.json
Due: none

Add 3D Terrain components (#164)
  .changeset/funny-maps-sit.md
  src/lib/HillshadeLayer.svelte
  src/lib/RasterDEMTileSource.svelte
  src/lib/Terrain.svelte
  src/lib/TerrainControl.svelte
  src/routes/NavBar.svelte
  src/routes/examples/3d_terrain/+page.svelte
  src/routes/examples/3d_terrain/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

v0.9.3
  .changeset/funny-maps-sit.md
  CHANGELOG.md
  package.json
Due: none

add terrain components to index
  src/lib/index.ts
Due: prettier --write

Add GeolocateControl control binding
  pnpm-lock.yaml
  src/lib/GeolocateControl.svelte
  src/lib/types.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Add changeset
  .changeset/tame-readers-obey.md
Due: none

update lockfile to pnpm v9
  pnpm-lock.yaml
Due: none

Geolocate control binding (#171)
  .changeset/tame-readers-obey.md
  src/lib/GeolocateControl.svelte
  src/lib/types.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write
