Repository dimfeld/svelte-maplibre: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

.lintstagedrc:

{
  "*.svelte": "prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write",
  "*.js": "prettier --write",
  "*.ts": "prettier --write"
}

allow popups to inherit coordinates from parent marker
  src/lib/DefaultMarker.svelte
  src/lib/Marker.svelte
  src/lib/context.svelte.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

remove duplicate import
  src/lib/DefaultMarker.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Implement popup lnglat inheritance
  .changeset/wild-donkeys-chew.md
  src/lib/Popup.svelte
  src/routes/examples/custom_marker/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Popups inherit lnglat (#245)
  .changeset/wild-donkeys-chew.md
  src/lib/DefaultMarker.svelte
  src/lib/Marker.svelte
  src/lib/Popup.svelte
  src/lib/context.svelte.ts
  src/routes/examples/custom_marker/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

1.0.0-next.13
  .changeset/eighty-points-bow.md
  .changeset/neat-months-tease.md
  .changeset/ninety-grapes-destroy.md
  .changeset/rude-comics-turn.md
  .changeset/sharp-rocks-knock.md
  .changeset/sweet-flies-develop.md
  .changeset/tame-ghosts-jump.md
  .changeset/wild-donkeys-chew.md
  CHANGELOG.md
  package.json
Due: none

Pass bound `bounds` prop out of component in same format it was passed in
  .changeset/shy-frogs-scream.md
  src/lib/MapLibre.svelte
  src/lib/types.test.ts
  src/lib/types.ts
  src/routes/examples/basic/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

v1.0.0
  .changeset/shy-frogs-scream.md
  CHANGELOG.md
  package.json
Due: none

feat: add fitBoundsOptions prop to MapLibre component
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

add .changeset
  .changeset/long-pens-stare.md
Due: none

feat(Popup): pass isOpen to prop to children
  .changeset/moody-lemons-boil.md
  src/lib/Popup.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

feat(Popup): pass isOpen to prop to children (#273)
  .changeset/moody-lemons-boil.md
  src/lib/Popup.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v1.1.0
  .changeset/moody-lemons-boil.md
  CHANGELOG.md
  package.json
Due: none

add fitBoundsOptions prop to MapLibre component (#264)
  .changeset/long-pens-stare.md
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Use FitBoundsOptions instead of FlyToOptions
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

capitalize
  .changeset/long-pens-stare.md
Due: none

v1.2.0
  .changeset/long-pens-stare.md
  CHANGELOG.md
  package.json
Due: none

Update MapEvents.svelte
  src/lib/MapEvents.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

generated changeset
  .changeset/thirty-ravens-lay.md
  package-lock.json
Due: none

Removing package-lock file
  package-lock.json
Due: none

Fix crash in hash parsing
  .changeset/open-clouds-fly.md
  src/lib/hash.ts
Due: prettier --write

Fix bug where a destroyed Layer kept the onclick handler
  .changeset/vast-showers-fix.md
  src/lib/Layer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Fix bug where a destroyed Layer kept the onclick handler (#278)
  .changeset/vast-showers-fix.md
  src/lib/Layer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Fix crash in hash parsing (#277)
  .changeset/open-clouds-fly.md
  src/lib/hash.ts
Due: prettier --write

Update MapEvents.svelte Props (#276)
  .changeset/thirty-ravens-lay.md
  src/lib/MapEvents.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v1.2.1
  .changeset/open-clouds-fly.md
  .changeset/thirty-ravens-lay.md
  .changeset/vast-showers-fix.md
  CHANGELOG.md
  package.json
Due: none

fix: prevent hover popups from instantly closing on iOS Safari
  .changeset/wicked-kings-shave.md
  src/lib/Popup.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

refactor: handle nullish context.map to better support re-renders
  src/lib/AttributionControl.svelte
  src/lib/Control.svelte
  src/lib/DeckGlLayer.svelte
  src/lib/DefaultMarker.svelte
  src/lib/FullscreenControl.svelte
  src/lib/GeoJSON.svelte
  src/lib/GeolocateControl.svelte
  src/lib/ImageSource.svelte
  src/lib/Layer.svelte
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/lib/NavigationControl.svelte
  src/lib/Popup.svelte
  src/lib/RasterDEMTileSource.svelte
  src/lib/RasterTileSource.svelte
  src/lib/ScaleControl.svelte
  src/lib/Terrain.svelte
  src/lib/TerrainControl.svelte
  src/lib/VectorTileSource.svelte
  src/lib/ZoomRange.svelte
  src/lib/context.svelte.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

add changeset
  .changeset/sharp-worms-compare.md
Due: none

upgrade site to svelte 5
  pnpm-lock.yaml
Due: none

feat: add FlatGeobuf component, a wrapper for GeoJSON
  src/lib/FlatGeobuf.svelte
  src/lib/flatgeobuf.ts
  src/lib/index.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

docs: add example of FlatGeobuf component usage
  src/routes/NavBar.svelte
  src/routes/examples/flatgeobuf/+page.svelte
  src/routes/examples/flatgeobuf/+page.ts
  src/site/kathmandu.fgb
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

build: install flatgeobuf package and relock deps
  package-lock.json
  package.json
Due: none

refactor: remove unnecessary .js from source file import
  src/lib/FlatGeobuf.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

docs: add changeset for FlatGeobuf addition
  .changeset/tasty-turtles-care.md
Due: none

fix: rebase, update svelte5 syntax, reconcile with context.svelte
  package.json
  pnpm-lock.yaml
  src/lib/FlatGeobuf.svelte
  src/routes/examples/flatgeobuf/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

refactor: handle nullish context.map to better support re-renders (#283)
  .changeset/sharp-worms-compare.md
  src/lib/AttributionControl.svelte
  src/lib/Control.svelte
  src/lib/DeckGlLayer.svelte
  src/lib/DefaultMarker.svelte
  src/lib/FullscreenControl.svelte
  src/lib/GeoJSON.svelte
  src/lib/GeolocateControl.svelte
  src/lib/ImageSource.svelte
  src/lib/Layer.svelte
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/lib/NavigationControl.svelte
  src/lib/Popup.svelte
  src/lib/RasterDEMTileSource.svelte
  src/lib/RasterTileSource.svelte
  src/lib/ScaleControl.svelte
  src/lib/Terrain.svelte
  src/lib/TerrainControl.svelte
  src/lib/VectorTileSource.svelte
  src/lib/ZoomRange.svelte
  src/lib/context.svelte.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

v1.2.2
  .changeset/sharp-worms-compare.md
  CHANGELOG.md
  package.json
Due: none

Remove console logs
  .changeset/real-friends-raise.md
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Remove console logs (#284)
  .changeset/real-friends-raise.md
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v1.2.3
  .changeset/real-friends-raise.md
  CHANGELOG.md
  package.json
Due: none
