Repository dimfeld/svelte-maplibre: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

v1.0.0-next.3
  package.json
Due: none

export everything from context.svelte.ts in barrel file
  src/lib/index.ts
Due: prettier --write

v1.0.0-next.4
  package.json
Due: none

Always add an error handler
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v1.0.0-next.5
  package.json
Due: none

log just the error
  package.json
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Fix type name conflict in VectorTileSource
  src/lib/VectorTileSource.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v1.0.0-next.7
  package.json
Due: none

set z-index on popup to ensure it shows up above deckgl layer
  src/lib/Popup.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v1.0.0-next.8
  package.json
Due: none

fix: maplibregl.FullscreenControl can be created without specifying a container element (defaulting to the map instance HTML wrapper element)
  src/lib/FullscreenControl.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

chore: add changeset
  .changeset/light-meals-agree.md
Due: none

fix: FullscreenControl component (#230)
  .changeset/light-meals-agree.md
  src/lib/FullscreenControl.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Remove unused import
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v1.0.0-next.9
  package.json
Due: none

remove old changeset
  .changeset/light-meals-agree.md
Due: none

Compatible with maplibre-gl 4 or 5
  .changeset/yellow-icons-sniff.md
  package.json
  pnpm-lock.yaml
Due: none

Don't set default marker offset to [0,0]
  .changeset/neat-penguins-appear.md
  src/lib/DefaultMarker.svelte
  src/lib/Marker.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

update cluster radius for maplibre 5
  src/routes/examples/clusters/+page.svelte
  src/routes/examples/custom_marker_clusters/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Fix standalone popups not appearing
  .changeset/dull-jars-teach.md
  src/lib/MapLibre.svelte
  src/lib/Popup.svelte
  src/routes/NavBar.svelte
  src/routes/tests/standalone-popup/+page.svelte
  src/routes/tests/standalone-popup/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

1.0.0-next.10
  .changeset/dull-jars-teach.md
  .changeset/neat-penguins-appear.md
  .changeset/yellow-icons-sniff.md
  CHANGELOG.md
  package.json
Due: none

Exposed bearingSnap property via MapLibre.svelte properties.
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Added changeset
  .changeset/brave-jeans-train.md
Due: none

allow popups to inherit coordinates from parent marker
  src/lib/DefaultMarker.svelte
  src/lib/Marker.svelte
  src/lib/context.svelte.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Exposed `bearingSnap` property via MapLibre.svelte properties (#244)
  .changeset/brave-jeans-train.md
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

1.0.0-next.11
  .changeset/brave-jeans-train.md
  CHANGELOG.md
  package.json
Due: none

remove duplicate import
  src/lib/DefaultMarker.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

add canOpen prop to Popup that can prevent it from opening
  src/lib/Popup.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Fix type name conflicts with Maplibre types
  .changeset/sweet-flies-develop.md
  src/lib/ImageSource.svelte
  src/lib/RasterDEMTileSource.svelte
  src/lib/RasterTileSource.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Fix type name conflicts with Maplibre types (#248)
  .changeset/sweet-flies-develop.md
  src/lib/ImageSource.svelte
  src/lib/RasterDEMTileSource.svelte
  src/lib/RasterTileSource.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

1.0.0-next.12
  package.json
Due: none

a few fixes
  .changeset/eighty-points-bow.md
  .changeset/ninety-grapes-destroy.md
  .changeset/rude-comics-turn.md
  src/lib/BackgroundLayer.svelte
  src/lib/GeoJSON.svelte
  src/lib/ImageSource.svelte
  src/lib/Layer.svelte
  src/lib/MapLibre.svelte
  src/lib/RasterDEMTileSource.svelte
  src/lib/RasterTileSource.svelte
  src/lib/Terrain.svelte
  src/lib/VectorTileSource.svelte
  src/lib/index.ts
  src/lib/types.ts
  src/routes/NavBar.svelte
  src/routes/examples/background/+page.svelte
  src/routes/examples/background/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

add globe projection support
  .changeset/sharp-rocks-knock.md
  src/lib/MapLibre.svelte
  src/routes/NavBar.svelte
  src/routes/examples/globe/+page.svelte
  src/routes/examples/globe/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

add anchor property to markers
  .changeset/tame-ghosts-jump.md
  src/lib/DefaultMarker.svelte
  src/lib/Marker.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

a few fixes (#262)
  .changeset/eighty-points-bow.md
  .changeset/ninety-grapes-destroy.md
  .changeset/rude-comics-turn.md
  .changeset/sharp-rocks-knock.md
  .changeset/tame-ghosts-jump.md
  src/lib/BackgroundLayer.svelte
  src/lib/DefaultMarker.svelte
  src/lib/GeoJSON.svelte
  src/lib/ImageSource.svelte
  src/lib/Layer.svelte
  src/lib/MapLibre.svelte
  src/lib/Marker.svelte
  src/lib/RasterDEMTileSource.svelte
  src/lib/RasterTileSource.svelte
  src/lib/Terrain.svelte
  src/lib/VectorTileSource.svelte
  src/lib/index.ts
  src/lib/types.ts
  src/routes/NavBar.svelte
  src/routes/examples/background/+page.svelte
  src/routes/examples/background/+page.ts
  src/routes/examples/globe/+page.svelte
  src/routes/examples/globe/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

use canOpen in an example
  src/routes/examples/overlapping_layer_events/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

changeset
  .changeset/neat-months-tease.md
Due: none

add canOpen prop to Popup that can prevent it from opening (#246)
  .changeset/neat-months-tease.md
  src/lib/Popup.svelte
  src/routes/examples/overlapping_layer_events/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Path conditions:
  prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write: any of: *.svelte
  prettier --write: (any of: *.js) or (any of: *.ts)
