Repository dimfeld/svelte-maplibre: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

fix: handle maplibre GPUInitializationError when constructing new map (#297)
  .changeset/big-views-flow.md
  package.json
  pnpm-lock.yaml
  src/lib/MapLibre.svelte
  src/routes/examples/basic/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v2.0.1
  .changeset/big-views-flow.md
  .changeset/config.json
  CHANGELOG.md
  README.md
  RELEASING.md
  package.json
Due: none

Document GitHub release step
  RELEASING.md
Due: none

Fix release tag command
  RELEASING.md
Due: none

Document npm validation wait during release
  RELEASING.md
Due: none

Document npm authentication recovery for releases
  RELEASING.md
Due: none

added api endpoint to proxy rasta source
  src/routes/api/rasta_source_proxy/+server.ts
  src/routes/examples/raster_source/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

added changeset
  .changeset/twelve-hotels-vanish.md
Due: none

added pollutant check
  src/routes/api/rasta_source_proxy/+server.ts
Due: prettier --write

Fix type errors from maplibre-gl event types
  src/lib/MapEvents.svelte
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Path conditions:
  prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write: any of: *.svelte
  prettier --write: (any of: *.js) or (any of: *.ts)
