Repository dimfeld/svelte-maplibre: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

fix marker class update
  package.json
  pnpm-lock.yaml
  src/lib/DefaultMarker.svelte
  src/lib/Marker.svelte
  src/lib/NavigationControl.svelte
  src/lib/Popup.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v1.2.4
  package.json
Due: none

v1.2.4
  CHANGELOG.md
  package.json
Due: none

update lockfile
  pnpm-lock.yaml
Due: none

geojson: fix geojson type import conflict
  .changeset/cool-steaks-rule.md
  src/lib/GeoJSON.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

geojson: fix geojson type import conflict (#289)
  .changeset/cool-steaks-rule.md
  src/lib/GeoJSON.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v1.2.5
  .changeset/cool-steaks-rule.md
  CHANGELOG.md
  package.json
Due: none

fix: stale zoom state on initial load
  src/lib/MarkerLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

add changeset
  .changeset/hot-ears-go.md
Due: none

feat: add aroundCenter prop to MapLibre component
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

fix: adding missing changeset file
  .changeset/five-carpets-report.md
Due: none

feat: add aroundCenter prop to MapLibre component (#291)
  .changeset/five-carpets-report.md
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

fix: stale zoom state on initial load (#290)
  .changeset/hot-ears-go.md
  src/lib/MarkerLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v1.2.6
  .changeset/five-carpets-report.md
  .changeset/hot-ears-go.md
  CHANGELOG.md
  package.json
Due: none

upgrade to vite 8
  package.json
  pnpm-lock.yaml
  src/app.css
  src/routes/+layout.svelte
  tailwind.config.cjs
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

feat: add anchor and offset props to MarkerLayer for custom HTML markers
  src/lib/MarkerLayer.svelte
  src/routes/examples/custom_marker_clusters/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

added changeset
  .changeset/four-facts-warn.md
Due: none

feat: add TopoJSON source component
  package.json
  src/lib/TopoJSON.svelte
  src/lib/index.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

fix: add onerror callback, fix id prefix, mutual exclusivity warning
  src/lib/TopoJSON.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

feat: add anchor and offset props to MarkerLayer for custom HTML markers (#295)
  .changeset/four-facts-warn.md
  src/lib/MarkerLayer.svelte
  src/routes/examples/custom_marker_clusters/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

use AbortController in fetch
  .changeset/wild-hairs-sit.md
  src/lib/TopoJSON.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

feat: add TopoJSON source component (#296)
  .changeset/wild-hairs-sit.md
  package.json
  src/lib/TopoJSON.svelte
  src/lib/index.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

v1.3.0
  .changeset/four-facts-warn.md
  .changeset/wild-hairs-sit.md
  CHANGELOG.md
  package.json
Due: none

fix: check if webgl is enabled and call onerror otherwise
  .changeset/big-views-flow.md
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Add GitHub issue templates and improve PR template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Due: none

Add GitHub issue templates and improve PR template (#299)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Due: none

docs: migrate docs site from Skeleton to shadcn-svelte and Tailwind v4
  components.json
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/app.css
  src/app.html
  src/app.postcss
  src/routes/+layout.svelte
  src/routes/LogoAndMenu.svelte
  src/routes/NavBar.svelte
  src/routes/examples/custom_marker/+page.svelte
  src/routes/examples/globe/+page.svelte
  src/routes/tests/change_center_zoom/+page.svelte
  src/routes/tests/map-style-update/+page.svelte
  src/routes/tests/marker-class-update/+page.svelte
  src/site/CodeSample.svelte
  src/site/components/CodeBlock.svelte
  src/site/components/ui/button/button.svelte
  src/site/components/ui/button/index.ts
  src/site/components/ui/sheet/index.ts
  src/site/components/ui/sheet/sheet-close.svelte
  src/site/components/ui/sheet/sheet-content.svelte
  src/site/components/ui/sheet/sheet-description.svelte
  src/site/components/ui/sheet/sheet-footer.svelte
  src/site/components/ui/sheet/sheet-header.svelte
  src/site/components/ui/sheet/sheet-overlay.svelte
  src/site/components/ui/sheet/sheet-portal.svelte
  src/site/components/ui/sheet/sheet-title.svelte
  src/site/components/ui/sheet/sheet-trigger.svelte
  src/site/components/ui/sheet/sheet.svelte
  src/site/utils.ts
  svelte.config.js
  tailwind.config.cjs
  vite.config.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

format
  package.json
  pnpm-lock.yaml
  src/lib/GeolocateControl.svelte
  src/lib/MapLibre.svelte
  src/lib/ScaleControl.svelte
  src/routes/examples/custom_marker/+page.svelte
  src/routes/examples/globe/+page.svelte
  src/routes/tests/change_center_zoom/+page.svelte
  src/routes/tests/map-style-update/+page.svelte
  src/routes/tests/marker-class-update/+page.svelte
  src/site/components/ui/button/button.svelte
  src/site/components/ui/sheet/sheet-content.svelte
  src/site/components/ui/sheet/sheet-overlay.svelte
  src/site/components/ui/sheet/sheet-title.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

docs: migrate docs site from Skeleton to shadcn-svelte and Tailwind v4 (#300)
  components.json
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/app.css
  src/app.html
  src/app.postcss
  src/lib/GeolocateControl.svelte
  src/lib/MapLibre.svelte
  src/lib/ScaleControl.svelte
  src/routes/+layout.svelte
  src/routes/LogoAndMenu.svelte
  src/routes/NavBar.svelte
  src/routes/examples/custom_marker/+page.svelte
  src/routes/examples/globe/+page.svelte
  src/routes/tests/change_center_zoom/+page.svelte
  src/routes/tests/map-style-update/+page.svelte
  src/routes/tests/marker-class-update/+page.svelte
  src/site/CodeSample.svelte
  src/site/components/CodeBlock.svelte
  src/site/components/ui/button/button.svelte
  src/site/components/ui/button/index.ts
  src/site/components/ui/sheet/index.ts
  src/site/components/ui/sheet/sheet-close.svelte
  src/site/components/ui/sheet/sheet-content.svelte
  src/site/components/ui/sheet/sheet-description.svelte
  src/site/components/ui/sheet/sheet-footer.svelte
  src/site/components/ui/sheet/sheet-header.svelte
  src/site/components/ui/sheet/sheet-overlay.svelte
  src/site/components/ui/sheet/sheet-portal.svelte
  src/site/components/ui/sheet/sheet-title.svelte
  src/site/components/ui/sheet/sheet-trigger.svelte
  src/site/components/ui/sheet/sheet.svelte
  src/site/utils.ts
  svelte.config.js
  tailwind.config.cjs
  vite.config.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

vite8
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/site/components/CodeBlock.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Upgrade site to Vite 8 (#301)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/site/components/CodeBlock.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

build: add missing @eslint/js dep, fix lint config
  .eslintignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: bump @playwright/test to ^1.62.0
  package.json
  pnpm-lock.yaml
Due: none

style: reformat data_join example
  src/routes/examples/data_join/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

feat!: support maplibre-gl 6
  .changeset/heavy-maps-migrate.md
  package.json
  pnpm-lock.yaml
  src/lib/AttributionControl.svelte
  src/lib/BackgroundLayer.svelte
  src/lib/CircleLayer.svelte
  src/lib/Control.svelte
  src/lib/DeckGlLayer.svelte
  src/lib/DefaultMarker.svelte
  src/lib/FillExtrusionLayer.svelte
  src/lib/FillLayer.svelte
  src/lib/FullscreenControl.svelte
  src/lib/GeolocateControl.svelte
  src/lib/HeatmapLayer.svelte
  src/lib/HillshadeLayer.svelte
  src/lib/Layer.svelte
  src/lib/LineLayer.svelte
  src/lib/MapEvents.svelte
  src/lib/MapLibre.svelte
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/lib/NavigationControl.svelte
  src/lib/Popup.svelte
  src/lib/RasterDEMTileSource.svelte
  src/lib/RasterLayer.svelte
  src/lib/RasterTileSource.svelte
  src/lib/ScaleControl.svelte
  src/lib/SymbolLayer.svelte
  src/lib/TerrainControl.svelte
  src/lib/VectorTileSource.svelte
  src/lib/filters.ts
  src/lib/types.ts
  src/routes/examples/draw/+page.svelte
  src/routes/examples/geojson_polygon/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Support `maplibre-gl` v6 (#303)
  .changeset/heavy-maps-migrate.md
  .eslintignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/lib/AttributionControl.svelte
  src/lib/BackgroundLayer.svelte
  src/lib/CircleLayer.svelte
  src/lib/Control.svelte
  src/lib/DeckGlLayer.svelte
  src/lib/DefaultMarker.svelte
  src/lib/FillExtrusionLayer.svelte
  src/lib/FillLayer.svelte
  src/lib/FullscreenControl.svelte
  src/lib/GeolocateControl.svelte
  src/lib/HeatmapLayer.svelte
  src/lib/HillshadeLayer.svelte
  src/lib/Layer.svelte
  src/lib/LineLayer.svelte
  src/lib/MapEvents.svelte
  src/lib/MapLibre.svelte
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/lib/NavigationControl.svelte
  src/lib/Popup.svelte
  src/lib/RasterDEMTileSource.svelte
  src/lib/RasterLayer.svelte
  src/lib/RasterTileSource.svelte
  src/lib/ScaleControl.svelte
  src/lib/SymbolLayer.svelte
  src/lib/TerrainControl.svelte
  src/lib/VectorTileSource.svelte
  src/lib/filters.ts
  src/lib/types.ts
  src/routes/examples/data_join/+page.svelte
  src/routes/examples/draw/+page.svelte
  src/routes/examples/geojson_polygon/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Switch to bundler-independent worker import
  .changeset/heavy-maps-migrate.md
  README.md
  src/lib/MapLibre.svelte
  src/routes/+layout.svelte
  src/routes/examples/3d_buildings/+page.svelte
  src/routes/examples/3d_terrain/+page.svelte
  src/routes/examples/background/+page.svelte
  src/routes/examples/basic/+page.svelte
  src/routes/examples/changing_basemap_style/+page.svelte
  src/routes/examples/clusters/+page.svelte
  src/routes/examples/controls/+page.svelte
  src/routes/examples/cooperative_gestures/+page.svelte
  src/routes/examples/custom_marker/+page.svelte
  src/routes/examples/custom_marker_clusters/+page.svelte
  src/routes/examples/data_join/+page.svelte
  src/routes/examples/deckgl-arcs/+page.svelte
  src/routes/examples/draggable_custom_marker/+page.svelte
  src/routes/examples/draw/+page.svelte
  src/routes/examples/geojson_extrusion/+page.svelte
  src/routes/examples/geojson_line_layer/+page.svelte
  src/routes/examples/geojson_polygon/+page.svelte
  src/routes/examples/globe/+page.svelte
  src/routes/examples/heatmap/+page.svelte
  src/routes/examples/image_source/+page.svelte
  src/routes/examples/image_symbols/+page.svelte
  src/routes/examples/marker/+page.svelte
  src/routes/examples/marker_layer/+page.svelte
  src/routes/examples/marker_on_click/+page.svelte
  src/routes/examples/overlapping_layer_events/+page.svelte
  src/routes/examples/pmtile_source/+page.svelte
  src/routes/examples/popup_remote/+page.svelte
  src/routes/examples/raster_source/+page.svelte
  src/routes/examples/vector_source/+page.svelte
  src/routes/examples/zoom_transition/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v2.0.0
  .changeset/heavy-maps-migrate.md
  CHANGELOG.md
  package.json
Due: none

fix: handle maplibre GPUInitializationError when constructing new map
  .changeset/big-views-flow.md
  package.json
  pnpm-lock.yaml
  src/lib/MapLibre.svelte
  src/routes/examples/basic/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Path conditions:
  prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write: any of: *.svelte
  prettier --write: (any of: *.js) or (any of: *.ts)
