Repository dimfeld/svelte-maplibre: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

.lintstagedrc:

{
  "*.svelte": "prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write",
  "*.js": "prettier --write",
  "*.ts": "prettier --write"
}

Add support for raster sources and changing tiles
  .changeset/polite-bags-exist.md
  package.json
  pnpm-lock.yaml
  src/lib/RasterLayer.svelte
  src/lib/RasterTileSource.svelte
  src/lib/index.ts
  src/routes/NavBar.svelte
  src/routes/examples/raster_source/+page.svelte
  src/routes/examples/raster_source/page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Add support for raster sources and changing tiles (#92)
  .changeset/polite-bags-exist.md
  package.json
  pnpm-lock.yaml
  src/lib/RasterLayer.svelte
  src/lib/RasterTileSource.svelte
  src/lib/index.ts
  src/routes/NavBar.svelte
  src/routes/examples/raster_source/+page.svelte
  src/routes/examples/raster_source/page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

v0.7.0
  .changeset/polite-bags-exist.md
  CHANGELOG.md
  package.json
Due: none

fix page titles
  src/routes/examples/raster_source/+page.ts
  src/routes/examples/vector_source/+page.ts
Due: prettier --write

Add extra info to MarkerLayer events
  .changeset/khaki-mayflies-trade.md
  src/lib/MarkerLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v0.7.1
  .changeset/khaki-mayflies-trade.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: none

fix lockfile
  pnpm-lock.yaml
Due: none

Fix missing type info
  .changeset/big-kids-applaud.md
  .changeset/young-bags-explain.md
  src/lib/Marker.svelte
  src/lib/types.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

v0.7.2
  .changeset/big-kids-applaud.md
  .changeset/young-bags-explain.md
  CHANGELOG.md
  package.json
Due: none

Update filters when changed
  .changeset/clever-chairs-live.md
  src/lib/Layer.svelte
  src/routes/examples/geojson_polygon/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Add ImageSource
  .changeset/moody-otters-lick.md
  src/lib/ImageSource.svelte
  src/lib/index.ts
  src/routes/NavBar.svelte
  src/routes/examples/image_source/+page.svelte
  src/routes/examples/image_source/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Add ImageSource (#105)
  .changeset/moody-otters-lick.md
  src/lib/ImageSource.svelte
  src/lib/index.ts
  src/routes/NavBar.svelte
  src/routes/examples/image_source/+page.svelte
  src/routes/examples/image_source/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Update filters when changed (#106)
  .changeset/clever-chairs-live.md
  src/lib/Layer.svelte
  src/routes/examples/geojson_polygon/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

add missing geojson type import for Layer.svelte
  src/lib/Layer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v0.7.3
  .changeset/clever-chairs-live.md
  .changeset/moody-otters-lick.md
  CHANGELOG.md
  package.json
Due: none

Clean up imports to work with Vite 5 and Node.js
  .changeset/late-swans-scream.md
  package.json
  pnpm-lock.yaml
  src/lib/ImageSource.svelte
  src/lib/Marker.svelte
  src/lib/Popup.svelte
  src/lib/RasterTileSource.svelte
  src/lib/VectorTileSource.svelte
  src/lib/hash.ts
  svelte.config.js
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Clean up imports to work with Vite 5 and Node.js (#111)
  .changeset/late-swans-scream.md
  package.json
  pnpm-lock.yaml
  src/lib/ImageSource.svelte
  src/lib/Marker.svelte
  src/lib/Popup.svelte
  src/lib/RasterTileSource.svelte
  src/lib/VectorTileSource.svelte
  src/lib/hash.ts
  svelte.config.js
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Add DefaultMarker component
  .changeset/breezy-moles-appear.md
  src/lib/DefaultMarker.svelte
  src/lib/index.ts
  src/routes/NavBar.svelte
  src/routes/examples/marker/+page.svelte
  src/routes/examples/marker/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Add DefaultMarker component (#112)
  .changeset/breezy-moles-appear.md
  src/lib/DefaultMarker.svelte
  src/lib/index.ts
  src/routes/NavBar.svelte
  src/routes/examples/marker/+page.svelte
  src/routes/examples/marker/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Add "default" export condition
  .changeset/nervous-coins-promise.md
  package.json
Due: none

Add "default" export condition (#113)
  .changeset/nervous-coins-promise.md
  package.json
Due: none

v0.7.4
  .changeset/breezy-moles-appear.md
  .changeset/late-swans-scream.md
  .changeset/nervous-coins-promise.md
  CHANGELOG.md
  package.json
Due: none

Added Rotation to Marker
  src/lib/Marker.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Added Changeset info
  .changeset/chatty-chicken-fly.md
Due: none

Added Rotation in Default Marker
  src/lib/DefaultMarker.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Added Rotation to Marker (#117)
  .changeset/chatty-chicken-fly.md
  src/lib/DefaultMarker.svelte
  src/lib/Marker.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v0.7.5
  .changeset/chatty-chicken-fly.md
  CHANGELOG.md
  package.json
Due: none

update site
  src/app.html
Due: none

Accept cooperativeGestures as prop
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Cooperative gestures: Add example
  src/routes/NavBar.svelte
  src/routes/examples/cooperative_gestures/+page.svelte
  src/routes/examples/cooperative_gestures/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Create long-poets-obey.md
  .changeset/long-poets-obey.md
Due: none

Origin/cooperative gestures (#121)
  .changeset/long-poets-obey.md
  src/lib/MapLibre.svelte
  src/routes/NavBar.svelte
  src/routes/examples/cooperative_gestures/+page.svelte
  src/routes/examples/cooperative_gestures/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

add GestureOptions type to cooperativeGestures
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v0.7.6
  .changeset/long-poets-obey.md
  CHANGELOG.md
  package.json
Due: none

Fix behavior around component teardown in Popup and Layer
  .changeset/eighty-clocks-accept.md
  .changeset/rotten-wolves-tickle.md
  src/lib/Layer.svelte
  src/lib/Popup.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Fix behavior around component teardown in Popup and Layer (#123)
  .changeset/eighty-clocks-accept.md
  .changeset/rotten-wolves-tickle.md
  src/lib/Layer.svelte
  src/lib/Popup.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v0.7.7
  .changeset/eighty-clocks-accept.md
  .changeset/rotten-wolves-tickle.md
  CHANGELOG.md
  package.json
Due: none

update name
  package.json
Due: none

feat(Map): add ready event
  package.json
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

fix: replaceState
  package.json
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write
