Repository dimfeld/svelte-maplibre: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

.lintstagedrc:

{
  "*.svelte": "prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write",
  "*.js": "prettier --write",
  "*.ts": "prettier --write"
}

fix changelog
  CHANGELOG.md
Due: none

Fix popups not closing properly when clicking on another marker
  .changeset/wicked-eagles-provide.md
  src/lib/Marker.svelte
  src/lib/Popup.svelte
  src/lib/context.ts
  src/routes/examples/custom_marker_clusters/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Fix popups not closing properly when clicking on another marker (#195)
  .changeset/wicked-eagles-provide.md
  src/lib/Marker.svelte
  src/lib/Popup.svelte
  src/lib/context.ts
  src/routes/examples/custom_marker_clusters/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

v0.9.12
  .changeset/wicked-eagles-provide.md
  CHANGELOG.md
  package.json
Due: none

upgrade site to svelte 5
  package.json
  pnpm-lock.yaml
Due: none

expose additional MapOptions for MapLibre
  .changeset/sixty-mails-listen.md
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

expose additional MapOptions for MapLibre (#199)
  .changeset/sixty-mails-listen.md
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v0.9.13
  .changeset/sixty-mails-listen.md
  CHANGELOG.md
  package.json
Due: none

Add a comment on manageHoverState to assist in usage
  src/lib/CircleLayer.svelte
  src/lib/FillExtrusionLayer.svelte
  src/lib/FillLayer.svelte
  src/lib/HeatmapLayer.svelte
  src/lib/Layer.svelte
  src/lib/LineLayer.svelte
  src/lib/SymbolLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Add a comment on manageHoverState to assist in usage (#201)
  src/lib/CircleLayer.svelte
  src/lib/FillExtrusionLayer.svelte
  src/lib/FillLayer.svelte
  src/lib/HeatmapLayer.svelte
  src/lib/Layer.svelte
  src/lib/LineLayer.svelte
  src/lib/SymbolLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Defer setting layer layout and paint during style load
  src/lib/Layer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Check map.style._loaded instead of map.isStyleLoaded()
  src/lib/Layer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Defer updating Layer’s layout and paint properties until Map style is fully loaded (#204)
  src/lib/Layer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

changeset pr204
  .changeset/six-zebras-work.md
Due: none

v0.9.14
  .changeset/six-zebras-work.md
  CHANGELOG.md
  package.json
Due: none

fix: allow passing style prop to ControlButton
  src/lib/ControlButton.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

feat: add simple StyleSelectControl for raster basemaps
  src/lib/StyleSelectControl.svelte
  src/lib/index.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

docs: add example for StyleSelectControl with different input types
  src/routes/NavBar.svelte
  src/routes/examples/style_selector/+page.svelte
  src/routes/examples/style_selector/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

docs: add changeset for StyleSelectControl addition
  .changeset/odd-beers-think.md
Due: none

build: install flatgeobuf package and relock deps
  package-lock.json
  package.json
Due: none

feat: add FlatGeobuf component, a wrapper for GeoJSON
  src/lib/FlatGeobuf.svelte
  src/lib/flatgeobuf.ts
  src/lib/index.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

docs: add example of FlatGeobuf component usage
  src/routes/NavBar.svelte
  src/routes/examples/flatgeobuf/+page.svelte
  src/routes/examples/flatgeobuf/+page.ts
  src/site/kathmandu.fgb
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

docs: add changeset for FlatGeobuf addition
  .changeset/tasty-turtles-care.md
Due: none

refactor: remove unnecessary .js from source file import
  src/lib/FlatGeobuf.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Apply suggestions from code review
  package.json
Due: none

update lockfile
  pnpm-lock.yaml
Due: none

update skeleton v2
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/app.postcss
  src/routes/+layout.svelte
  src/routes/LogoAndMenu.svelte
  src/routes/NavBar.svelte
  tailwind.config.cjs
  tailwind.config.js
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

remove debug log
  tailwind.config.js
Due: prettier --write

Update some deps
  package.json
  pnpm-lock.yaml
Due: none

Upgrade site to svelte 5 (#197)
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/app.postcss
  src/routes/+layout.svelte
  src/routes/LogoAndMenu.svelte
  src/routes/NavBar.svelte
  tailwind.config.cjs
  tailwind.config.js
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

regen lockfile
  pnpm-lock.yaml
Due: none

use commonjs for tailwind config to appease Node 20
  src/routes/LogoAndMenu.svelte
  tailwind.config.cjs
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Upgrade to modern eslint config
  .eslintrc.cjs
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

Naive convert of `run` to `$effect`
  src/lib/AttributionControl.svelte
  src/lib/Control.svelte
  src/lib/DeckGlLayer.svelte
  src/lib/DefaultMarker.svelte
  src/lib/FullscreenControl.svelte
  src/lib/GeoJSON.svelte
  src/lib/GeolocateControl.svelte
  src/lib/ImageSource.svelte
  src/lib/JoinedData.svelte
  src/lib/Layer.svelte
  src/lib/MapEvents.svelte
  src/lib/MapLibre.svelte
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/lib/NavigationControl.svelte
  src/lib/Popup.svelte
  src/lib/RasterDEMTileSource.svelte
  src/lib/RasterTileSource.svelte
  src/lib/ScaleControl.svelte
  src/lib/Terrain.svelte
  src/lib/TerrainControl.svelte
  src/lib/VectorTileSource.svelte
  src/lib/ZoomRange.svelte
  src/routes/examples/ClusterPopup.svelte
  src/routes/examples/deckgl-arcs/+page.svelte
  src/routes/examples/draw/+page.svelte
  src/routes/examples/geojson_polygon/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Fix map bind
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Simpler effect in draw page
  src/routes/examples/draw/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Other small improvements
  src/lib/FullscreenControl.svelte
  src/lib/MarkerLayer.svelte
  src/lib/Popup.svelte
  src/lib/VectorTileSource.svelte
  src/routes/examples/ClusterPopup.svelte
  src/routes/examples/geojson_polygon/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

fix undefined at start
  src/routes/examples/deckgl-arcs/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write
