Repository dimfeld/svelte-maplibre: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

.lintstagedrc:

{
  "*.svelte": "prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write",
  "*.js": "prettier --write",
  "*.ts": "prettier --write"
}

feat: disable onClick for DeckGlLayer
  package.json
  src/lib/DeckGlLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

updated version
  package.json
Due: none

fix: check deck exists
  package.json
  src/lib/DeckGlLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

feat: add minmax zoom
  package.json
  src/lib/VectorTileSource.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

try again
  package.json
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

feat: use sveltekit replaceState
  package.json
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

fix: disable bad implementation of cursor in DeckGL
  package.json
  src/lib/DeckGlLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

feat: expose layer
  package.json
  src/lib/DeckGlLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

fix: move to after addLayer
  package.json
  src/lib/DeckGlLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

feat(DeckGlLayer): add beforeId
  src/lib/DeckGlLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

revert: onclick
  package.json
  src/lib/DeckGlLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

feat: update version
  package.json
Due: none

Update eslint, prettier, and related packages
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/app.html
  src/lib/filters.ts
  src/routes/LogoAndMenu.svelte
  src/routes/examples/+layout.svelte
  src/routes/examples/basic/+page.svelte
  src/routes/examples/custom_marker/+page.svelte
  src/routes/examples/data_join/+page.svelte
  src/routes/examples/deckgl-arcs/+page.svelte
  src/routes/examples/draggable_custom_marker/+page.svelte
  src/routes/examples/marker_layer/+page.svelte
  src/routes/examples/overlapping_layer_events/+page.svelte
  src/routes/examples/zoom_transition/+page.svelte
  src/routes/tests/map-style-update/+page.svelte
  src/routes/tests/marker-class-update/+page.svelte
  src/site/CodeSample.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Update eslint, prettier, and related packages (#127)
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/app.html
  src/lib/filters.ts
  src/routes/LogoAndMenu.svelte
  src/routes/examples/+layout.svelte
  src/routes/examples/basic/+page.svelte
  src/routes/examples/custom_marker/+page.svelte
  src/routes/examples/data_join/+page.svelte
  src/routes/examples/deckgl-arcs/+page.svelte
  src/routes/examples/draggable_custom_marker/+page.svelte
  src/routes/examples/marker_layer/+page.svelte
  src/routes/examples/overlapping_layer_events/+page.svelte
  src/routes/examples/zoom_transition/+page.svelte
  src/routes/tests/map-style-update/+page.svelte
  src/routes/tests/marker-class-update/+page.svelte
  src/site/CodeSample.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Support maplibre v4
  .changeset/hungry-pumas-tan.md
  package.json
  pnpm-lock.yaml
  src/lib/DefaultMarker.svelte
  src/lib/MapLibre.svelte
  src/lib/Marker.svelte
  src/routes/examples/ClusterPopup.svelte
  src/routes/examples/cooperative_gestures/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Support maplibre v4 (#128)
  .changeset/hungry-pumas-tan.md
  package.json
  pnpm-lock.yaml
  src/lib/DefaultMarker.svelte
  src/lib/MapLibre.svelte
  src/lib/Marker.svelte
  src/routes/examples/ClusterPopup.svelte
  src/routes/examples/cooperative_gestures/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v0.8.0
  .changeset/hungry-pumas-tan.md
  CHANGELOG.md
  package.json
Due: none

Clarify Typescript types for MaplibreMap slot
  .changeset/ten-crabs-draw.md
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Clarify Typescript types for MaplibreMap slot (#129)
  .changeset/ten-crabs-draw.md
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v0.8.1
  .changeset/ten-crabs-draw.md
  CHANGELOG.md
  package.json
Due: none

add on:open and on:close to Popup
  src/lib/Popup.svelte
  src/routes/NavBar.svelte
  src/routes/examples/popup_remote/+page.svelte
  src/routes/examples/popup_remote/+page.ts
  src/routes/examples/popup_remote/[id]/+server.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

typescript types for dispatch
  src/lib/DeckGlLayer.svelte
  src/lib/DefaultMarker.svelte
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

changeset
  .changeset/afraid-pumpkins-visit.md
Due: none

Preserve images after changing basemap style
  src/lib/MapLibre.svelte
  src/routes/examples/changing_basemap_style/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Reload images when the map style changes
  .changeset/pink-cars-sit.md
  src/lib/MapLibre.svelte
  src/routes/examples/changing_basemap_style/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Popup events (#130)
  .changeset/afraid-pumpkins-visit.md
  src/lib/DeckGlLayer.svelte
  src/lib/DefaultMarker.svelte
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/lib/Popup.svelte
  src/routes/NavBar.svelte
  src/routes/examples/popup_remote/+page.svelte
  src/routes/examples/popup_remote/+page.ts
  src/routes/examples/popup_remote/[id]/+server.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Run popup_remote in edge function
  src/routes/examples/popup_remote/[id]/+server.ts
Due: prettier --write

Run popup_remote in edge function (#133)
  src/routes/examples/popup_remote/[id]/+server.ts
Due: prettier --write

Reload images when the map style changes (#132)
  .changeset/pink-cars-sit.md
  src/lib/MapLibre.svelte
  src/routes/examples/changing_basemap_style/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v0.8.2
  .changeset/afraid-pumpkins-visit.md
  .changeset/pink-cars-sit.md
  CHANGELOG.md
  package.json
Due: none

Update playwright setup
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: prettier --write

Add testid attributes
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Basic tests
  tests/basic.spec.ts
  tests/marker.spec.ts
  tests/test.ts
  tests/util.ts
Due: prettier --write

WIP: e2e tests (#137)
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/lib/MapLibre.svelte
  tests/basic.spec.ts
  tests/marker.spec.ts
  tests/test.ts
  tests/util.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Update the viewport when the URL hash changes
  .changeset/shaggy-cycles-arrive.md
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Update the viewport when the URL hash changes (#142)
  .changeset/shaggy-cycles-arrive.md
  src/lib/MapLibre.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v0.8.3
  .changeset/shaggy-cycles-arrive.md
  CHANGELOG.md
  package.json
Due: none

MarkerLayer: FeatureWithId
  src/lib/MarkerLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

changeset
  .changeset/fresh-melons-grab.md
Due: none

MarkerLayer: tell type system that all features have IDs (#148)
  .changeset/fresh-melons-grab.md
  src/lib/MarkerLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write
