Repository dimfeld/svelte-maplibre: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

v0.9.4
  .changeset/tame-readers-obey.md
  CHANGELOG.md
  package.json
Due: none

Expose source attributes
  .changeset/short-cheetahs-cover.md
  src/lib/GeoJSON.svelte
  src/lib/RasterDEMTileSource.svelte
  src/lib/RasterTileSource.svelte
  src/lib/VectorTileSource.svelte
  src/lib/types.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

use mapbox type
  src/lib/RasterDEMTileSource.svelte
  src/lib/types.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

Expose missing source attributes (#173)
  .changeset/short-cheetahs-cover.md
  src/lib/GeoJSON.svelte
  src/lib/RasterDEMTileSource.svelte
  src/lib/RasterTileSource.svelte
  src/lib/VectorTileSource.svelte
  src/lib/types.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

v0.9.5
  .changeset/short-cheetahs-cover.md
  CHANGELOG.md
  package.json
Due: none

changesets
  .changeset/angry-dancers-run.md
  .changeset/famous-ducks-rescue.md
Due: none

use easeTo, handle bearing and pitch
  src/lib/MapLibre.svelte
  src/routes/NavBar.svelte
  src/routes/tests/change_center_zoom/+page.svelte
  src/routes/tests/change_center_zoom/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

add more changes to change_center_zoom test
  src/routes/tests/change_center_zoom/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

use easeTo, handle bearing and pitch (#169)
  .changeset/angry-dancers-run.md
  .changeset/famous-ducks-rescue.md
  src/lib/MapLibre.svelte
  src/routes/NavBar.svelte
  src/routes/tests/change_center_zoom/+page.svelte
  src/routes/tests/change_center_zoom/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

v0.9.6
  .changeset/angry-dancers-run.md
  .changeset/famous-ducks-rescue.md
  CHANGELOG.md
  package.json
Due: none

Add hook for custom replaceState function
  .changeset/strange-wasps-hide.md
  src/lib/MapLibre.svelte
  src/routes/examples/geojson_line_layer/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Add hook for custom replaceState function (#175)
  .changeset/strange-wasps-hide.md
  src/lib/MapLibre.svelte
  src/routes/examples/geojson_line_layer/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v0.9.7
  .changeset/strange-wasps-hide.md
  CHANGELOG.md
  package.json
Due: none

Add pmtiles support for raster url
  src/lib/RasterTileSource.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Add changeset
  .changeset/large-carrots-remember.md
Due: none

Doc comments on the tiles and url props and url updated with undefined
  src/lib/RasterTileSource.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Remove error message
  src/lib/RasterTileSource.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Add pmtiles support for raster url (#178)
  .changeset/large-carrots-remember.md
  src/lib/RasterTileSource.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v0.9.8
  .changeset/large-carrots-remember.md
  CHANGELOG.md
  package.json
Due: none

start adding Mapbox Draw plugin example
  package.json
  pnpm-lock.yaml
  src/routes/NavBar.svelte
  src/routes/examples/draw/+page.svelte
  src/routes/examples/draw/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

add CSS for draw plugin
  package.json
  src/app.postcss
  src/lib/draw-plugin.css
  src/routes/examples/draw/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

changeset
  .changeset/perfect-zebras-rush.md
Due: none

remove empty line
  src/app.postcss
Due: none

Add Mapbox Draw plugin example (#180)
  .changeset/perfect-zebras-rush.md
  package.json
  pnpm-lock.yaml
  src/lib/draw-plugin.css
  src/routes/NavBar.svelte
  src/routes/examples/draw/+page.svelte
  src/routes/examples/draw/+page.ts
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write, prettier --write

v0.9.9
  .changeset/perfect-zebras-rush.md
  CHANGELOG.md
  package.json
Due: none

Fix typo
  CHANGELOG.md
Due: none

Show importing from `@deck.gl/layers`
  src/routes/examples/deckgl-arcs/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

fix: MarkerLayer perf degradation from unnecessary rerenders
  .changeset/rude-ducks-hang.md
  package.json
  pnpm-lock.yaml
  src/lib/MarkerLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

fix(Popup): features/data passed to slot always null
  src/lib/Popup.svelte
  src/routes/examples/clusters/+page.svelte
  src/routes/examples/geojson_extrusion/+page.svelte
  src/routes/examples/overlapping_layer_events/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

fix(Popup): features/data passed to slot always null (#186)
  src/lib/Popup.svelte
  src/routes/examples/clusters/+page.svelte
  src/routes/examples/geojson_extrusion/+page.svelte
  src/routes/examples/overlapping_layer_events/+page.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Pin deck.gl in devDependencies to ~8.8 to avoid ESM/CJS interop problems
  package.json
  pnpm-lock.yaml
Due: none

fix: MarkerLayer perf degradation from unnecessary rerenders (#185)
  .changeset/rude-ducks-hang.md
  package.json
  pnpm-lock.yaml
  src/lib/MarkerLayer.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v0.9.10
  .changeset/rude-ducks-hang.md
  CHANGELOG.md
  package.json
Due: none

Add label attribute to ControlButton
  src/lib/ControlButton.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Add changeset
  .changeset/poor-boxes-sneeze.md
Due: none

Change ButtonControl label to title
  src/lib/ControlButton.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

Add label attribute to ControlButton (#189)
  .changeset/poor-boxes-sneeze.md
  src/lib/ControlButton.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

default undefined
  .changeset/poor-boxes-sneeze.md
  src/lib/ControlButton.svelte
Due: prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write

v0.9.11
  .changeset/poor-boxes-sneeze.md
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  prettier --plugin prettier-plugin-svelte --plugin prettier-plugin-tailwindcss --write: any of: *.svelte
  prettier --write: (any of: *.js) or (any of: *.ts)
